# データ確認・前処理

In [1]:
%run 0.2_Function.ipynb

In [2]:
# 2021-2024 東京開催
df = result_df("2015", "2025", ["東"])

In [3]:
df.sample(3)

,年,月,日,回次,場所,日次,レース番号,レース名,クラスコード,芝・ダ,...,馬主名,生産者名,父馬名,母馬名,母の父馬名,毛色,生年月日,単勝オッズ,PCI,レース日
43391,23,6,24,3,東京,7,2,未勝利,7,ダ,...,水上行雄,笠松牧場,ビッグアーサー,ルサビ,アグネスタキオン,栗毛,200415,203.2,38.9,2023-06-24
79429,22,4,30,2,東京,3,9,横浜Ｓ･3勝,67,ダ,...,了徳寺健二ホールデ,千代田牧場,オルフェーヴル,ミルフィアタッチ,キングカメハメハ,鹿毛,170304,15.6,60.7,2022-04-30
15871,16,10,9,4,東京,2,12,1000万下,43,ダ,...,河越武治,稲原牧場,タイキシャトル,エアコムロー,オペラハウス,栗毛,90324,295.5,51.7,2016-10-09

In [4]:
df.columns

Index(['年', '月', '日', '回次', '場所', '日次', 'レース番号', 'レース名', 'クラスコード', '芝・ダ',
       'トラックコード', '距離', '馬場状態', '馬名', '性別', '年齢', '騎手名', '斤量', '頭数', '馬番',
       '確定着順', '入線着順', '異常コード', '着差タイム', '人気順', '走破タイム', '走破時計', '補正タイム',
       '通過順1', '通過順2', '通過順3', '通過順4', '上がり3Fタイム', '馬体重', '調教師', '所属地', '賞金',
       '血統登録番号', '騎手コード', '調教師コード', 'レースID', '馬主名', '生産者名', '父馬名', '母馬名',
       '母の父馬名', '毛色', '生年月日', '単勝オッズ', 'PCI', 'レース日'],
      dtype='object')

In [6]:
df.dtypes

年                    int64
月                    int64
日                    int64
回次                   int64
場所                  object
日次                   int64
レース番号                int64
レース名                object
クラスコード               int64
芝・ダ                 object
トラックコード              int64
距離                   int64
馬場状態                object
馬名                  object
性別                  object
年齢                   int64
騎手名                 object
斤量                 float64
頭数                   int64
馬番                   int64
確定着順                 int64
入線着順                 int64
異常コード                int64
着差タイム              float64
人気順                  int64
走破タイム              float64
走破時計                object
補正タイム                int64
通過順1                 int64
通過順2                 int64
通過順3                 int64
通過順4                 int64
上がり3Fタイム           float64
馬体重                  int64
調教師                 object
所属地                 object
賞金                   int64
血統登録番号               int64
騎手コード                int64
調教師コード               int64
レースID               object
馬主名                 object
生産者名                object
父馬名                 object
母馬名                 object
母の父馬名               object
毛色                  object
生年月日                 int64
単勝オッズ              float64
PCI                float64
レース日        datetime64[ns]
dtype: object

In [18]:
cond = (df['異常コード'] == 0)
df[cond].sort_values('通過順4')[['場所','距離','通過順1','通過順2','通過順3','通過順4']]

       場所    距離  通過順1  通過順2  通過順3  通過順4
13723  東京  1800     0     1     1     1
56168  東京  1400     0     0     1     1
5125   東京  1600     0     0     1     1
15033  東京  1300     0     0     1     1
69217  東京  1600     0     0     1     1
...    ..   ...   ...   ...   ...   ...
36936  東京  1600     0     0    18    18
50794  東京  1400     0     0    18    18
35895  東京  1800     0    18    18    18
23526  東京  1800     0    17    18    18
28009  東京  2000     0    18    18    18

[80418 rows x 6 columns]

In [ ]:
# https://targetfaq.jra-van.jp/faq/detail?site=SVKNEGBV&id=706
# =======================================
#              クラスコード
# =======================================
# 7　　　　  未勝利
# 11	　　未出走
# 15	　　新馬
# 19	　　400万下
# 23	　　500万下
# 39	　　900万下
# 43	　　1000万下
# 63	　　1500万下
# 67	　　1600万下
# 　　1600万下
# 131	　　重賞以外のオープン
# 147	　　グレード無し重賞
# 163	　　G3
# 179	　　G2
# 195	　　G1
# =======================================

#df["クラスコード"].unique()
df["クラスコード"].unique()

In [ ]:
# ====================================
#              レースID
# ====================================
#
#            ppyyknrruu
#
# pp:場所コード
# yy:西暦下2桁
# k・kk:回次
# n・nn:日次
# rr:レース番号
# uu:馬番
#
# ※ 場所コード先頭に0がつくケースとつかないケースあり

# ====================================
#              場所コード
# ====================================
# 01: 札幌
# 02: 函館
# 03: 福島
# 04: 新潟
# 05: 東京
# 06: 中山
# 07: 中京
# 08: 京都
# 09: 阪神
# 10: 小倉

df[["レースID", "補正タイム", "走破タイム", "上がり3Fタイム"]].sample(3)