# データ確認・前処理

In [1]:
import pandas as pd

In [2]:
%run 0.2_Function.ipynb

In [3]:
# 2021-2024 東京開催
df = result_df("2005", "2025")

In [4]:
df.sample(3)

,年,月,日,回次,場所,日次,レース番号,レース名,クラスコード,芝・ダ,...,馬主名,生産者名,父馬名,母馬名,母の父馬名,毛色,生年月日,単勝オッズ,PCI,レース日
404810,15,11,14,5,京都,3,6,500万下・牝,23,ダ,...,H.H.シェイク・モハ,ダーレー・ジャパン,ディープスカイ,ドリームスキーム,Machiavellian,鹿毛,120226,9.2,40.2,2015-11-14
40991,16,11,6,5,東京,2,5,新馬,15,芝,...,島川隆哉,エスティファーム,トーセンホマレボシ,トーセンピナクル,シンボリクリスエス,栗毛,140223,179.5,51.9,2016-11-06
315505,21,12,26,6,阪神,8,11,りんくうＨ,131,ダ,...,ラッキーフィールド,Sekie Yoshihara &,Majestic Warrior,Nokaze,Empire Maker,鹿毛,150506,5.4,45.9,2021-12-26

In [5]:
df.columns

Index(['年', '月', '日', '回次', '場所', '日次', 'レース番号', 'レース名', 'クラスコード', '芝・ダ',
       'トラックコード', '距離', '馬場状態', '馬名', '性別', '年齢', '騎手名', '斤量', '頭数', '馬番',
       '確定着順', '入線着順', '異常コード', '着差タイム', '人気順', '走破タイム', '走破時計', '補正タイム',
       '通過順1', '通過順2', '通過順3', '通過順4', '上がり3Fタイム', '馬体重', '調教師', '所属地', '賞金',
       '血統登録番号', '騎手コード', '調教師コード', 'レースID', '馬主名', '生産者名', '父馬名', '母馬名',
       '母の父馬名', '毛色', '生年月日', '単勝オッズ', 'PCI', 'レース日'],
      dtype='object')

In [12]:
# https://targetfaq.jra-van.jp/faq/detail?site=SVKNEGBV&id=706
# =======================================
#              クラスコード
# =======================================
# 7　　　　  未勝利
# 11	　　未出走
# 15	　　新馬
# 19	　　400万下
# 23	　　500万下
# 39	　　900万下
# 43	　　1000万下
# 63	　　1500万下
# 67	　　1600万下
# 131	　　重賞以外のオープン
# 147	　　グレード無し重賞
# 163	　　G3
# 179	　　G2
# 195	　　G1
# =======================================

#df["クラスコード"].unique()
df["クラスコード"].unique()

array(['中山', '阪神', '京都', '中京', '小倉', '福島', '東京', '新潟', '札幌', '函館'],
      dtype=object)

In [11]:
# ====================================
#              レースID
# ====================================
#
#            ppyyknrruu
#
# pp:場所コード
# yy:西暦下2桁
# k・kk:回次
# n・nn:日次
# rr:レース番号
# uu:馬番
#
# ※ 場所コード先頭に0がつくケースとつかないケースあり

# ====================================
#              場所コード
# ====================================
# 01: 札幌
# 02: 函館
# 03: 福島
# 04: 新潟
# 05: 東京
# 06: 中山
# 07: 中京
# 08: 京都
# 09: 阪神
# 10: 小倉

df[["レースID", "補正タイム", "走破タイム", "上がり3Fタイム"]].sample(3)

            レースID  補正タイム  走破タイム  上がり3Fタイム
940207  117250815     87  123.2      36.4
28690   724120214     67   75.6      39.2
360441  305140607     86  107.5      38.6